<h1>Guest profile</h1>


<!-- Osnovne informacije o logovanom gostu -->
<table class="table table-bordered tableBG" border="1">
<tr>
<td>Email: </td><td>{{loggedUser.mail}}</td>
</tr>
<tr>
<td>Ime: </td><td>{{loggedUser.firstname}}</td>
</tr>
<tr>
<td>Prezime: </td><td>{{loggedUser.lastname}}</td>
</tr>
</table>
<hr/>






<!--  Deo koji omogucuje pretragu prijatelja -->
<center>
<div id="friendFind">
<label>Find friends</label>
<form>
<input placeholder="Enter firstname or lastname" type="text" class="form-control x3" ng-model = "$parent.inputStr" ng-change = "findFriends()" >
</form>

<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Firstame</th>
                <th>Lastname</th>
                <th>Mail</th>
                <th>&nbsp</th>
            </tr>
			<tr ng-repeat="guest in guests">
				<td> 
					{{guest.firstname}}
				</td>
				<td>
		    		{{guest.lastname}}	
				</td>
            	<td>
		    		{{guest.mail}}	
				</td>
				<td>
					<button class="btn btn-default navbar-btn" ng-click="sendRequest(guest.id)"> Send request</button>
				</td>
				
			</tr>
		</tbody>
    </table>  
</div>
</center>