
<h3>Restaurant : {{restaurantOrder.name}}</h3>
<h3>Avg rate of me and friends : {{avg}}</h3>

<table class="table table-bordered tableBG" border="1">
	<tbody>
		<tr>
			<th>Id</th>
			<th>Orders food</th>
			<th>Marks food</th>
			<th>Rate food</th>
			<th>Marks service</th>
			<th>Rate service</th>
		</tr>
		<tr ng-repeat="order in restaurantOrders">
			<td>{{order.id}}</td>
			<td>
				<table>
					<tr ng-repeat="dish in order.food">
						<td>{{dish.id}}</td>
						<td>{{dish.name}}</td>
					</tr>
				</table>
			</td>
			<td>
			<!-- <input type = "number" ng-model="orderRate" class="form-control"> -->
				<select class="form-control" ng-model="orderRate">
				<option value="" selected />
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				</select>
			</td>
			<td>
				<a ng-click = "rateOrder(orderRate, order)" class = "btn btn-small btn-default"><span class="glyphicon glyphicon-star"></span>Rate food</a>
			</td>
			<td>
				<select class="form-control" ng-model="serviceRate">
				<option value="" selected />
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				</select>
			</td>
			<td>
				<a ng-click = "rateService(serviceRate, order)" class = "btn btn-small btn-default"><span class="glyphicon glyphicon-star"></span>Rate service</a>
			</td>
		<tr>
	</tbody>
</table> 

{{orderRate}}
