 <div>
	<h1>System managers</h1>
	
	<h1>Manager: {{systemManager.firstname}}  {{systemManager.lastname}}</h1>
	
	
	<h4>Restaurant managers:</h4>
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Firstame</th>
                <th>Lastname</th>
                <th>Mail</th>
            </tr>
			<tr ng-repeat="restaurantManager in restaurantManagers">
				<td> 
					{{restaurantManager.id}}
				</td>
				<td>
		    		{{restaurantManager.firstname}}	
				</td>
            	<td>
		    		{{restaurantManager.lastname}}	
				</td>
            	<td>
		    		{{restaurantManager.mail}}	
				</td>
			</tr>
        </tbody>
    </table> 
    
    <h4>Restaurants:</h4>
    <table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Manager</th>
            </tr>
			<tr ng-repeat="restaurant in restaurants">
				<td> 
					{{restaurant.id}}
				</td>
				<td>
		    		{{restaurant.name}}	
				</td>
            	<td>
		    		{{restaurant.restaurantManager.firstname}}	
				</td>
            </tr>
		</tbody>
    </table> 
</div>

