
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: whitesmoke;
    color: #333333;
}
.nav-pills a {
    color: white;
    background: #333333;
}
.nav-pills a:hover {
    background-color:whitesmoke;
    color: #333333;
    border-radius: 0px;
}
.bg{
	color: white;
	background: url(images/restaurant.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:white;
}
.tableBG{
	background-color: #333333;
}
.btn{
    color:white;
    background: #333333;
}
.select_type
{ 
    color: #333333;
    width:62%;
    padding:1.5%;
}

.navbar { border-radius:0; }

 th, td {
   border: 1px solid black;
   text-align:center;
   padding: 15px;
   height: 30px;
   table-layout:fixed;
}

/*td {
  width: 300px;
  overflow: hidden;
}*/

h1 {
    text-align: center;
    font-size: 250%;
}

input[type="number"] { 
    color: black;
}
input[type="text"] { 
    color: black;
}
input { 
    background-color: white;
    color: black;
}
.tdComponents{
    background: #333333;
}

.upload{
    background: #333333;
    text-align:left;
    width: 300px;
}

.center{
		position: fixed;
        width: 20%; /* Set your desired with */
        z-index: 2; /* Make sure its above other items. */
        top: 35%;
        left: 50%;
        margin-top: -10%; /* Changes with height. */
        margin-left: -10%; /* Your width divided by 2. */
}

.bottom{
	position: fixed;
	bottom: 4%;
	left: 2%;
}
.bottom button{
	margin: 10px;
}

.tableBtns {
	background: white;
	color: black;
	width: 50px;
	height: 30px;
	
}


.tablesTable table, th,td,tr{
	border: 0px;
	padding: 5px;
}




-/* The Close Button */
-.close {
-    color: #aaa;
-    float: right;
-    font-size: 28px;
-    font-weight: bold;
-}
-
-.close:hover,
-.close:focus {
-    color: black;
-    text-decoration: none;
-    cursor: pointer;
 }
-.modal {

   display: none; /* Hidden by default */

   position: fixed; /* Stay in place */

   z-index: 1; /* Sit on top */

   left: 0;

   top: 0;

   width: 100%; /* Full width */

   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */

   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {

    background-color: #333333;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}









/* begin: jQuery UI Datepicker moving pixels fix */
    table.ui-datepicker-calendar {border-collapse: separate;}
    .ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #743620 none; /* a color that fits the widget theme */
    color: white; /* a color that is readeable with the color above */
}
div.ui-datepicker{
 font-size:10px;
}











calendar {
    float:left;
    display:block;
    .border-box;
    background:white;
    width:300px;
    border:solid 1px @border-colour;
    margin-bottom:10px;
    
    @secondary-colour:#2875C7;
    @spacing:10px;
    @icon-width:40px;
    @header-height:40px;

    >div.header {
        float:left;
        width:100%;
        background:@secondary-colour;
        height:@header-height;
        color:white;
        
        >* { 
            .vertical-centre(@header-height);
        }
        
        >i {
            float:left;
            width:@icon-width;
            font-size:1.125em;
            font-weight:bold;
            position:relative;
            .border-box;
            padding:0 @spacing;
            cursor:pointer;
        }
        
        >i.fa-angle-left {
            text-align:left;
        }
        
        >i.fa-angle-right {
            text-align:right;
            margin-left:@icon-width*-1;
        }
        
        >span { 
            float:left;
            width:100%;
            font-weight:bold;
            text-transform:uppercase;
            .border-box;
            padding-left:@icon-width+@spacing;
            margin-left:@icon-width*-1;
            text-align:center;
            padding-right:@icon-width;
            color:inherit;
        }
    }
    >div.week {
        float:left;
        width:100%;
        border-top:solid 1px @border-colour;
        
        &:first-child {
            border-top:none;
        }
        
        >span.day {
            float:left;
            width:100%/7;
            .border-box;
            border-left:solid 1px @border-colour;
            font-size:0.75em;
            text-align:center;
            .vertical-centre(30px);
            background:white;
            cursor:pointer;
            color:black;
            
            &:first-child {
                border-left:none;
            }
            
            &.today {
                background:#E3F2FF;
            }
            
            &.different-month {
                color:#C0C0C0;
            }
            
            &.selected {
                background:@secondary-colour;
                color:white;
            }
        }
        
        &.names>span {
            color:@secondary-colour;
            font-weight:bold;
        }
    }
}
